@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

.typewriter {
  display: flex;
}

.typewriter h2 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */

  white-space: nowrap;
  /* Keeps the content on a single line */

  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em;
  /* Adjust as needed */
  animation: typing 2s steps(40, end);
}

.typewriter::after {
  content: "";
  width: 0.1em;
  height: 100%;
  background-color: #ccc;
  transition: all 300ms ease-out;
  transform-origin: center;
  animation: blink-caret 1s 2s infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  0% {
    transform: scaleY(100%);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(100%);
  }
}
